.navbar {
}

main {
  height: 100vh;
}

.searchSection {
  border-width: 3px;
  border: salmon;
  display: inline-block;
  float: left;
}

.weatherSection {
  height: 100%;
  float:right;
}

.currentWeather {
  height: 40%;
}

.currentWeather__Icon {
  float: left;
}

.currentWeather__Info {
  float:right;
}

.forecastWeather {
  background-color: violet;
}