.navbar {
  background-color: rgb(32, 32, 32);
  color: white
}

.searchSection {
  display: inline-block;
}

.inputError {
  color: red;
}

.infoText {
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}

.weatherSection {
  height: 100%;
}

.currentWeather {
  height: 40%;
}

.currentIconSize {
  min-width: 150px;
}

.currentWeather__Info--li {
  border: 0px;
}

.safe {
  color: green;
}

.moderate {
  color: orange;
}

.high {
  color: red;
}

.forecastIconSize {
  max-width: 100px;
}
