.navbar {
  background-image: linear-gradient(to right, #000000, #2c001b, #48003e, #520072, #2300b5);
  color: white
}

.searchSection {
  display: inline-block;
}

.weatherSection {
  height: 100%;
}

.currentWeather {
  height: 40%;
}

.currentIconSize {
  min-width: 150px;
}

.safe {
  color: green;
}

.moderate {
  color: orange;
}

.high {
  color: red;
}

.forecastIconSize {
  max-width: 100px;
}

.currentWeather__Info {

}

.currentWeather__Info--li {
  border: 0px;
}

.forecastWeather {
  background-color: violet;
}